<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Practice</title>
</head>
<body>
    <h1>This is EJS file home page</h1>
    <h3> <%= "abhinandan".toUpperCase() %> </h3>
    <h3> <%= ["hello", "Avi", "Happy"][1] %> </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam assumenda laborum eum nobis facilis quidem cupiditate culpa vero! Harum et, a nemo eum provident, assumenda dolorem quae reprehenderit dolorum nesciunt esse totam quaerat hic eius asperiores corrupti earum sunt quasi excepturi adipisci sit minima voluptatibus commodi! Est minus nihil quasi, adipisci rerum laboriosam inventore dolor expedita tenetur praesentium suscipit ipsam nulla eveniet sint quibusdam vel iste rem numquam aliquam nisi dolorum voluptas! Numquam, voluptatum ex fugiat tempore voluptatibus a consequatur explicabo deserunt nostrum laboriosam enim, rerum incidunt, inventore laborum accusamus quae molestiae repellat omnis ab esse maxime nisi eos facilis.</p>
    <button>Click Me</button>
</body>
</html>