<%- include("includes/head.ejs"); %>
<body>
    <h1>This page belongs to @<%= username %> </h1>
    <button>Follow</button>
    <button>Message</button>

    <h3>Accounts that follow you:
        <ul>
            <% for(let name of followers){ %>
            <li><%= name %></li>
            <% } %>
            </ul>
    
    </h3>
    
</body>
<script src="/app.js"></script>
</html>