<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Post</title>
</head>
<body>
    <form  method="post" action="/posts">
        <input  placeholder="Enter your username" name="username" type="text"> <br><br>
        <textarea placeholder="Enter comment" name="content" id="content"></textarea><br>
        <button>Submit</button>
    </form>
</body>
</html>