<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h3>Write new Chat..</h3>
    <form method="POST" action="/chats">
        <input type="text" placeholder="Who are you!" name="from">
        <br>
        <textarea name="msg"  placeholder="Write your message here.."></textarea>
        <br>
        <input type="text" placeholder="add receiver" name="to">
        <br>
        <button>Submit</button>
    </form>
</body>
</html>